body{
    background-color: white;
}

.open{
    background-color:lightblue;
    position: sticky;
}

.ti{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}

img{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}

.center{
    border: solid;
    padding: 40px;
    margin: 0 auto;
    background-color:gainsboro;
}

p{
    text-align: center;
    color: black;
}

.word{
    border: solid;
    background-color: transparent;
}